/* Le fichier index.css est souvent utilisé pour des styles globaux
tels que la définition des couleurs, des polices, des tailles de police, etc.,
tandis que le fichier App.css peut être utilisé pour des styles spécifiques à
l'interface utilisateur de l' application, tels que des styles de disposition,
de marges et de rembourrages. */

* {
  z-index: 20;
}

#root {
  width: 100%;
}

body {
  min-height: 100%;
  background-color: rgba(var(--primary-color-light), 1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.App {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a:hover {
  color: rgba(var(--blue-color-500), 1);
}

/***/

/* Article Container */

.article-wrapper {
  width: 100%;
}

.article-container {
  height: 100%;
  width: 90rem; /* 90rem - padding-left - padding-right */
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.article-container .article-content {
  width: calc(100%  - 20rem);
  /* width: 72rem; // 1152px */
  padding-left: 2rem;
  /* padding-left: 19.5rem; */
}

/* Home Container */

.home-container {
  width: 100%;/* width: calc(90rem - 4rem); /* 90rem - padding = 90rem (1440px) */
  height: calc(100vh - 4rem);
  margin-left: auto;
  margin-right: auto;
}

.home-container .home-content {
  width: 100%;
  padding: 2rem;
  max-width: 71.25rem;
}

/* CONTENT */

.content {
  max-width: 71.25rem;
  margin: 2rem 0;
}

.content img {
  max-width: 350px;
}

.content h1 {
  font-weight: 800;
  letter-spacing: -0.025em;
  color: rgb(15 23 42);
  color: rgba(var(--primary-color-dark), 1);
}

.dark .content h1 {
    /* color: rgb(255 255 255); */
    color: rgba(var(--primary-color-light), 1);
}

.content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    /* color: rgb(71 85 105); */
    color: rgba(var(--primary-color-600), 1);
}

.dark .content p {
    /* color: rgb(148 163 184); */
    color: rgba(var(--primary-color-800), 1);;
}

/* Article Content */

.article-content a {
  font-weight: 500;
  text-decoration: inherit;
  /* color: #000; */
  color: rgba(var(--primary-color-dark), 1);
}

.article-content a:hover {
  /* color: #64748b; */
  color: rgba(var(--primary-color-500), 1);
}

.article-content .content *:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Home Content */

.home-content {
  width: 50rem /* 800px */;
}

.home-content .content *:not(:last-child) {
  margin-bottom: 2.5rem;
}

#particles-js {
  width: 100%;
  height: 100%;
}

#tsparticles.active {
  opacity: 0.15;
}

/* DarkMode Initialization */

.dark {
  color-scheme: dark;
}

.dark a:hover {
  color: rgba(var(--blue-color-500), 1);
}

.dark .article-content a {
  color: rgba(var(--primary-color-light), 1);
}

.dark .article-content a:hover {
  color: rgba(var(--primary-color-500), 1);
}

.dark body {
  color: rgba(var(--primary-color-700), 1);
  background-color: rgba(var(--primary-color-dark), 1);
}

.dark #tsparticles.active {
  opacity: 1;
}

/* #### MEDIA QUERIES #### */

/* 2XL Breakpoints [2xl] - 1536px */
@media only screen and (min-width: 1536px) {

}

/* XL Breakpoints [xl] - 1280px and 1439px (site normal size: 1440)  */
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .article-container {
      width: 100%;
    }
}

/* Large Breakpoints [lg] - 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .article-container {
      width: 100%;
    }
  .article-container .article-content {
    width: 100%;
  }
}

/* Medium Breakpoints [md] - 768px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
}

/* Small Breakpoints [sm] - 640px */
@media only screen /* and (min-width: 640px) */ and (max-width: 767px) {
  
}